*{
    margin:0;
    padding:0;
}

h1{

    background-color: rgb(213, 185, 185);

}

h4{
    padding-top:10px ;
    background-color:rgb(207, 198, 188);
}

.top-emoji {
    padding-bottom: 0px;
    text-align: right;
    font-size: 20px; 
    margin-top: 10px;
    
}

body{
    margin: 0;
    background-color:rgb(245, 240, 234); 
    color:rgb(11, 11, 11);
    /* background-image: url("img/blur1.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{

    font-weight:lighter;
    width: 0;
    float:left;
    height: 90px;
} 


.menu ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left:10px;
    margin-top: 10px;
    font-size: 14px;
}

.img{
    /* background-image:url('blur.jpg'); */
    padding-top: 30px;
    text-align: center;
    
}
a {
    text-decoration: none;
    color: black;
}
p{
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gap{
    text-align: center;
    text-shadow: blur-radius color; 
    word-spacing: 100px;
    
}

iframe{
    margin-top: 10px;
    width:80%;
}

.images{
        padding-top: 10px;
        display: flex;
        justify-content: center; 
        gap: 20px;
         
    }


.list {
     display:flex;
     justify-content: center;
     gap:90px;
     font-weight: bolder;

}
marquee{
    background-color: white;
}  


